<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>About One Month Rails</h1>
        <p>Where I learned to hate Windows and wish I had a mac... <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>    
</div>
<div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>LEARN PROJECT MANAGEMENT</h4>
        <blockquote class="blockquote">
  				<p class="mb-0">You’ll learn how to get projects done on time, on spec, and under budget, how to conquer scope creep, and manage risk. Oh, and also a thing or two about cakes.</p>
  				<footer class="blockquote-footer">‎Product Manager at 18F <cite title="Source Title">Alex Bisker</cite></footer>
		</blockquote>
            </div>
            <div class="col-md-4">
                <h5>BUILD YOUR MINIMUM VIABLE PRODUCT</h5>
        <blockquote class="blockquote">
  				<p class="mb-0">You never truly know whether you’re delivering the right product to right person at the right time. This course is designed to help solve that problem.</p>
  				<footer class="blockquote-footer">‎Tech Entrepreneur & Instructor <cite title="Source Title">Evan Kimbrell</cite></footer>
		</blockquote>
            </div>
            <div class="col-md-4">
                <h4>RUBY DEVELOPER IN 30 DAYS</h4>
        <blockquote class="blockquote">
  				<p class="mb-0">In just one month, I'll teach you how to code in the most flexible programming language in the world.</p>
  				<footer class="blockquote-footer">‎Instructor & CEO of One Month<cite title="Source Title">Mattan Griffel</cite></footer>
		</blockquote>
            </div>