
<h1>About Me</h1>
<p>My name is Brent Bolinger and I am the Chief Engineer / Director of Operations at Fox 5 KRBK in Springfield, MO.</p>

<p>At my age of 27 I am very fortunate to have such a great job, and only obtained it but surrounding myself with people who are smarter than I am and continuing to educate myself on a variety of things. I am the classic "jack of all trades master of none".</p>

<h2>Hobbies</h2>
<ul>
	<li>Renovating my house</li>
	<li>Working on cars</li>
	<li>Playing with smart home equipment (it's an expensive addiction)</li>
	<li>Filming / Editing</li>
	<li>Photography</li>
	<li>Graphic design</li>
	<li>Playing Sports</li>
</ul>