<div class="jumbotron jumbotron-home">
    <div class="container">
        <h1>Contact Info</h1>
        <p>I am going to write some random info here... <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>    
</div>
<div class="container">
<dl class="row">
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">Brent Bolinger</dd>

  <dt class="col-sm-3">City</dt>
  <dd class="col-sm-9">A name that is in every state, "Springfield".</dd>

  <dt class="col-sm-3">My Job</dt>
  <dd class="col-sm-9">Chief Engineer at a Fox Affiliate.</dd>
    </dl>
</div>