
<h1>Contact</h1>

First name:Brent<br>
Last name: Bolinger<br>
City: Springfield <br>


<p>Email: <a href="mailto:Brentbolinger@gmail.com" target="_blank">Click the link to email me whenever you would like.</a></p>
