
<h1>Welcome to Brent's website.</h1>
<p>To be honost I really don't know what I would like to build. I just like to learn new things and it never hurts to have a wide skill-set.</p>

<p>Not for this project but, I think it would be fun to build a social sharing page for my wife and her students. She could have a login for the parents to keep the information private while keeping the parents up to date. This has been done before, but always has a few flaws. Instead I could customize it to my wife's needs.</p>
